<!-- Info -->
<div class="info">
  <h2>Selected Ghost</h2>
  <box>
    <ghost-box [ghost]="ghost"></ghost-box>
  </box>
</div>

<!-- Tells -->
<div class="tells" *ngIf="ghost.tells">
  <h2>Tells</h2>
  <ul>
    <li *ngFor="let tell of ghost.tells">
      {{tell}}
    </li>
  </ul>
</div>

<!-- Behaviors -->
<div class="behaviors" *ngIf="ghost.behaviors">
  <h2>Behaviors</h2>
  <ul>
    <li *ngFor="let behaviors of ghost.behaviors">
      {{behaviors}}
    </li>
  </ul>
</div>

<!-- Hunt Sanity -->
<div class="hunt-sanity" *ngIf="ghost.huntSanityInfo">
  <h2>Hunt Sanity</h2>
  <p>
    {{ghost.huntSanityInfo}}
  </p>
</div>

<!-- Hunt Speed -->
<div class="hunt-speed" *ngIf="ghost.huntSpeedInfo">
  <h2>Hunt Speed</h2>
  <p>
    {{ghost.huntSpeedInfo}}
  </p>
</div>
