:host {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  gap: 16px;
}

.info {
  pointer-events: none;
}

ul {
  display: flex;
  flex-flow: column nowrap;
  gap: 8px;
  padding-left: 16px;
}
