<!-- Info -->
<div class="info">
  <h2>Selected Ghost</h2>
  <box>
    <ghost-box [ghost]="ghost"></ghost-box>
  </box>
</div>

<!-- Hunt Speed -->
<div class="hunt-speed">
  <h2>Hunt Speed</h2>
  <div class="hunt-speed-list">
    <div class="hunt-speed-list-item" *ngFor="let huntSpeed of ghost.huntSpeed">
      <ph-button ph-icon-button (click)="toggleHuntSpeed(huntSpeed)">
        <i class="icon fa-solid fa-shoe-prints"></i>
      </ph-button>
      {{huntSpeed | number:'1.1'}} m/s
    </div>
  </div>
  <div *ngIf="ghost.huntSpeedInfo">
    <p>{{ghost.huntSpeedInfo}}</p>
  </div>
</div>

<!-- Hunt Sanity -->
<div class="hunt-sanity" *ngIf="ghost.huntSanityInfo">
  <h2>Hunt Sanity</h2>
  <p>
    {{ghost.huntSanityInfo}}
  </p>
</div>

<!-- Tells -->
<div class="tells" *ngIf="ghost.tells">
  <h2>Tells</h2>
  <ul>
    <li *ngFor="let tell of ghost.tells">
      {{tell}}
    </li>
  </ul>
</div>

<!-- Behaviors -->
<div class="behaviors" *ngIf="ghost.behaviors">
  <h2>Behaviors</h2>
  <ul>
    <li *ngFor="let behaviors of ghost.behaviors">
      {{behaviors}}
    </li>
  </ul>
</div>
