:host {
  background-image: linear-gradient(to right, rgba(#A0B8BC, .1) 1px, transparent 1px), linear-gradient(to bottom, rgba(#A0B8BC, .1) 1px, transparent 1px);
  background-size: 16px 16px;
  border: 4px solid #2E3535;
  padding: 8px;
  transition: all 100ms ease;
  user-select: none;

  &:hover {
    background-color: darken(#0D1616, 2);
    cursor: pointer;
    transition: background-color 100ms ease;
  }

  &.disabled {
    opacity: 0.25;
    transition: opacity 100ms ease;
  }
}
