:host {
	background-image: linear-gradient(to right, rgba(#A0B8BC, .1) 1px, transparent 1px), linear-gradient(to bottom, rgba(#A0B8BC, .1) 1px, transparent 1px);
	background-size: 16px 16px;
	border: 4px solid #2E3535;
	display: block;
	padding: 8px;
	transition: all 250ms ease;
	user-select: none;

	&:hover {
		background-color: darken(#0D1616, 2);
		cursor: pointer;
		transition: background-color 250ms ease;
	}

	&:active {
		background-color: darken(#0D1616, 4);
		transition: background-color 250ms ease;
	}

	&.active {
		border-color: rgba(#41FF00, .5);
		color: rgba(#41FF00, .75);
		transition: color 250ms ease, border-color 250ms ease;
	}

	&.indeterminate {
		border-color: rgba(#ff0041, .5);
		color: rgba(#ff0041, .75);
		transition: color 250ms ease, border-color 250ms ease;
	}

	&.disabled {
		opacity: 0.25;
		transition: opacity 250ms ease;
		pointer-events: none;
	}
}
