 :host {
   display: block;
   position: relative;
 }

 ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
 }

 .hunt-sanity {
   position: absolute;
   top: 0;
   right: 0;

   &--low {
     color: #41FF00;
   }

   &--high {
     color: #ff0041;
   }
 }
