.timer {
  padding: 8px 0;
  margin-bottom: 8px;

  .markers {
    position: relative;
    height: 16px;

    .marker {
      background-color: #A0B8BC;
      height: 100%;
      position: absolute;
      width: 2px;

      &--spirit {
        left: var(--spiritMarkerPosition);

        &::before {
          content: 'Spirit';
          height: 100%;
          padding-left: 6px;
        }
      }

      &--default {
        left: var(--defaultMarkerPosition);
      }

      &--demon {
        left: var(--demonMarkerPosition);

        &::before {
          content: 'Demon';
          height: 100%;
          padding-left: 6px;
        }
      }
    }
  }

  .bar {
    background-color: #2E3535;
    height: 16px;
    width: 100%;
    position: relative;

    .progress {
      background-color: #A0B8BC;
      height: 16px;
      position: absolute;
      transition: width 1s linear;
      width: var(--progress);
    }
  }
}
