<div class="container">

  <!------------>
  <!-- HEADER -->
  <!------------>
  <section class="header">
    <h1>Phasmohelper</h1>
    <div class="toolbar">
      <ph-button ph-icon-button (click)="toggleCRT()">
        <i class="icon fa-solid" [ngClass]="enableCRT ? 'fa-video' : 'fa-video-slash'"></i>
      </ph-button>
      <ph-button ph-icon-button (click)="toggleSound()">
        <i class="icon fa-solid" [ngClass]="enableSound ? 'fa-volume-high': 'fa-volume-xmark'"></i>
      </ph-button>
    </div>
  </section>

  <!------------>
  <!-- FILTER -->
  <!------------>
  <section class="filter">

    <!-- Difficulty -->
    <div class="difficulty">
      <h2>Difficulty</h2>
      <difficulty [defaultDifficulty]="defaultDifficulty"></difficulty>
    </div>

    <!-- Evidence -->
    <div class="evidence">
      <h2>Evidence</h2>
      <evidence></evidence>
    </div>

    <!-- Speed -->
    <div class="speed">
      <h2>Speed</h2>
      <speed></speed>
    </div>

    <!-- Reset -->
    <div class="reset">
      <ph-button (click)="reset()">Reset (R)</ph-button>
    </div>

  </section>

  <!---------->
  <!-- MAIN -->
  <!---------->
  <section class="main">

    <!-- Ghosts -->
    <h2>Ghosts</h2>
    <ghost></ghost>

  </section>

  <!---------->
  <!-- INFO -->
  <!---------->
  <section class="info">

    <!-- Ghost Info -->
    <div *ngIf="selectedGhost">
      <ghost-info [ghost]="selectedGhost"></ghost-info>
    </div>

  </section>

  <!---------->
  <!-- TOOLS -->
  <!---------->
  <section class="tools">

    <!-- Flicker -->
    <div>
      <h2>Flicker</h2>
      <flicker-simulator></flicker-simulator>
    </div>

    <!-- Smudge Timer -->
    <div>
      <h2>Smudge-Timer</h2>
      <smudge-timer [enableSound]="enableSound"></smudge-timer>
    </div>

  </section>

</div>
