@import '../assets/styles/crt-effect.scss';

/***************/
/* BASE STYLES */
/***************/

:host {
  background-color: #0D1616;
  bottom: 0;
  color: #A0B8BC;
  display: block;
  font-family: monospace;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0;
  user-select: none;

  &.has-crt {
    @include crt();
  }
}

/********/
/* GRID */
/********/

.container {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 0.5fr 1.5fr 1.0fr;
  grid-template-rows: 60px 1fr auto;
  grid-template-areas:
    "header header header"
    "filter main info"
    "filter main tools";
  height: calc(100% - 4px);
  border: 2px solid #A0B8BC;
}

.header {
  display: flex;
  align-items: center;
  grid-area: header;

  .toolbar {
    display: flex;
    gap: 8px;
    margin-left: auto;

    .icon {
      font-size: 1.25em;
    }
  }
}

.filter {
  grid-area: filter;
}

.info {
  grid-area: info;
  overflow-y: scroll;
}

.tools {
  grid-area: tools;
}

.main {
  grid-area: main;
  overflow-y: scroll;
}

/*****************/
/* GLOBAL STYLES */
/*****************/
section {
  border: 2px solid #A0B8BC;
  padding: 2px + 8px;
}

.filter,
.tools {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  gap: 16px;
}
