@import '../assets/styles/crt-effect.scss';

$grid-size: 16px;
$border-size: $grid-size / 4;
$padding-size: $grid-size / 2;
$bg-color: #0D1616;
$fg-color: #A0B8BC;
$tertiary-color: #2E3535;

:host {
  @include crt();

  display: grid;
  grid-template-columns: 1fr 3fr 2fr;
  grid-template-rows: 1fr;
  text-transform: uppercase;
  background-color: #0D1616;
  color: $fg-color;
  font-family: monospace;
  border: $border-size solid $fg-color;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

main {
  overflow-y: auto;
  overflow-x: hidden;
  border-left: $border-size solid $fg-color;
  border-right: $border-size solid $fg-color;
}

aside section:not(:last-child) {
  border-bottom: $border-size solid $fg-color;
}

section {
  padding: $padding-size;

  h2 {
    margin-bottom: $padding-size;
  }
}

.settings {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  .evidence,
  .speed {
    flex: 1 1 auto;
  }
}

.info {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  &__ghost {
    pointer-events: none;
  }

  .tells,
  .behaviors,
  .hunt-sanity,
  .hunt-speed {
    ul {
      display: flex;
      flex-flow: column nowrap;
      gap: 16px;
    }
  }
}

.reset-button {
  background-color: $fg-color;
  border: none;
  color: $bg-color;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
  outline: none;
  padding: $padding-size;
  text-transform: uppercase;
  transition: background-color 100ms ease;
  width: 100%;

  &:hover {
    background-color: darken($fg-color, 10);
    transition: background-color 100ms ease;
    cursor: pointer;
  }
}
