<aside id="settings">

  <!-- Difficulty -->
  <section>
    <h2>Difficulty</h2>
    <select [(ngModel)]="difficultySelection" (ngModelChange)="onChangeDifficulty()">
      <option *ngFor="let difficulty of Difficulty | keyvalue" [value]="difficulty.value">
        {{difficulty.value}}
      </option>
    </select>
  </section>

  <hr />

  <!-- Evidence -->
  <section class="evidence-selection">
    <h2>Evidence</h2>
    <ul>
      <li *ngFor="let evidence of Evidence | keyvalue">
        <box class="evidence" (click)="toggleEvidenceSelection(evidence.value)" [disabled]="isEvidenceDisabled(evidence.value)">
          <span>{{evidence.value}}</span>
          <span class="material-symbols-outlined" *ngIf="isEvidenceSelected(evidence.value)">done</span>
        </box>
      </li>
    </ul>
  </section>

  <hr />

  <!-- Speed -->
  <section class="speed-selection">
    <h2>Speed</h2>
    <ul>
      <li *ngFor="let speed of Speed | keyvalue" class="speed">
        <box class="evidence" (click)="toggleSpeedSelection(speed.value)">
          <span>{{speed.value}}</span>
          <span class="material-symbols-outlined" *ngIf="isSpeedSelected(speed.value)">done</span>
        </box>
      </li>
    </ul>
  </section>

  <hr />

  <!-- Sanity -->
  <section style="display:none;">
    <h2>Sanity</h2>
    <label>
      <input type=" range" name="sanity" min="0" max="100" step="5" [(ngModel)]="sanitySelection">
      {{sanitySelection}}
    </label>
  </section>

  <!-- Smudge Timer -->
  <section style="display:none;">
    <h2>Smudge Timer</h2>
    <p>{{smudgeTimer}} s</p>
    <button type="button" (click)="toggleSmudgeTimer()">
      {{ isSmugdeTimerRunning ? 'Pause' : 'Stop'}}
    </button>
  </section>

  <section>
    <button type="button" class="reset-button" (click)="reset()">Reset</button>
  </section>
</aside>

<main id="ghosts">
  <!-- Ghosts -->
  <section>
    <h2>Ghosts</h2>
    <ul class="ghost-container">
      <box *ngFor="let ghost of filteredGhosts" [disabled]="isGhostSelected(ghost)" (click)="toggleGhostSelection(ghost)">
        <h3>{{ghost.name}}</h3>
        <ul>
          <li *ngFor="let evidence of ghost.evidences" [class.forced-evidence]="ghost.forcedEvidence && ghost.forcedEvidence === evidence">
            {{evidence}}
          </li>
        </ul>
      </box>
    </ul>
  </section>
</main>

<aside id="meta">
  <section>
    <h2>Tells</h2>
  </section>
  <hr />
  <section>
    <h2>Behaviors</h2>
  </section>
  <hr />
  <section>
    <h2>Hunt Sanity</h2>
  </section>
  <hr />
  <section>
    <h2>Hunt Speed</h2>
  </section>
  <hr />
</aside>
