@import '../assets/styles/crt-effect.scss';

%button {
  background: none;
  border: none;
  margin: 0;
  outline: none;

  &:hover {
    cursor: pointer;
  }
}

/***************/
/* BASE STYLES */
/***************/

:host {
  background-color: #0D1616;
  bottom: 0;
  color: #A0B8BC;
  display: block;
  font-family: monospace;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 0;
  user-select: none;

  &.has-crt {
    @include crt();
  }
}

/********/
/* GRID */
/********/

.container {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: 0.5fr 1.5fr 1.0fr;
  grid-template-rows: 60px 1fr auto;
  grid-template-areas:
    "header header header"
    "filter main info"
    "filter main tools";
  height: calc(100% - 4px);
  border: 2px solid #A0B8BC;
}

.header {
  display: flex;
  align-items: center;
  grid-area: header;

  .toolbar {
    display: flex;
    gap: 8px;
    margin-left: auto;

    button {
      @extend %button;
      color: #A0B8BC;

      &:hover {}
    }
  }
}

.filter {
  grid-area: filter;
}

.info {
  grid-area: info;
}

.tools {
  grid-area: tools;
}

.main {
  grid-area: main;
  overflow-y: scroll;
}

/*****************/
/* GLOBAL STYLES */
/*****************/
section {
  border: 2px solid #A0B8BC;
  padding: 2px + 8px;
}

.filter {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  gap: 16px;
}

/********************/
/* TODO: COMPONENTS */
/********************/

.reset-button {
  @extend %button;

  background-color: #A0B8BC;
  color: #0D1616;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 8px;
  text-transform: uppercase;
  transition: background-color 100ms ease;
  width: 100%;

  &:hover {
    background-color: darken(#A0B8BC, 10);
    transition: background-color 100ms ease;
  }
}
