<aside>
  <!-- Difficulty -->
  <section class="difficulty">
    <h2>Difficulty</h2>
    <select [(ngModel)]="difficultySelection" (ngModelChange)="onChangeDifficulty()">
      <option *ngFor="let difficulty of Difficulty | keyvalue" [value]="difficulty.value">
        {{difficulty.value}}
      </option>
    </select>
  </section>

  <!-- Evidence -->
  <section>
    <h2>Evidence</h2>
    <ul>
      <li *ngFor="let evidence of Evidence | keyvalue">
        <box class="evidence" (click)="toggleEvidenceSelection(evidence.value)" [disabled]="isEvidenceDisabled(evidence.value)">
          <span>{{evidence.value}}</span>
          <span class="material-symbols-outlined" *ngIf="isEvidenceSelected(evidence.value)">done</span>
        </box>
      </li>
    </ul>
  </section>

  <!-- Speed -->
  <section class="speed">
    <h2>Speed</h2>
    <ul>
      <li *ngFor="let speed of Speed | keyvalue" class="speed">
        <box class="evidence" (click)="toggleSpeedSelection(speed.value)">
          <span>{{speed.value}}</span>
          <span class="material-symbols-outlined" *ngIf="isSpeedSelected(speed.value)">done</span>
        </box>
      </li>
    </ul>
  </section>

  <!-- Sanity -->
  <!-- <section>
  <h2>Sanity</h2>
  <label>
    <input type=" range" name="sanity" min="0" max="100" step="5" [(ngModel)]="sanitySelection">
    {{sanitySelection}}
  </label>
</section> -->

  <!-- Smudge Timer -->
  <!-- <section>
  <h2>Smudge Timer</h2>
  <p>{{smudgeTimer}} s</p>
  <button type="button" (click)="toggleSmudgeTimer()">
    {{ isSmugdeTimerRunning ? 'Pause' : 'Stop'}}
  </button>
</section> -->

  <section>
    <button type="button" class="reset-button" (click)="reset()">Reset</button>
  </section>
</aside>

<main>
  <!-- Ghosts -->
  <section class="ghosts">
    <h2>Ghosts</h2>
    <ul class="ghost-container">
      <box *ngFor="let ghost of filteredGhosts" [disabled]="isGhostSelected(ghost)" (click)="toggleGhostSelection(ghost)">
        <h3>{{ghost.name}}</h3>
        <ul>
          <li *ngFor="let evidence of ghost.evidences" [class.forced-evidence]="ghost.forcedEvidence && ghost.forcedEvidence === evidence">
            {{evidence}}
          </li>
        </ul>
      </box>
    </ul>
  </section>
</main>

<aside>
  <!-- Tells -->
  <section class="tells">
    <h2>Tells</h2>
  </section>

  <!-- Behaviors -->
  <section class="behaviors">
    <h2>Behaviors</h2>
  </section>

  <!-- Hunt Sanity -->
  <section class="hunt-sanity">
    <h2>Hunt Sanity</h2>
  </section>

  <!-- Hunt Speed -->
  <section class="hunt-speed">
    <h2>Hunt Speed</h2>
  </section>
</aside>
