//TODO: css variables
$green: #41ff00;
$yellow: #ffee00;
$orange: #ff9900;
$red: #ff0041;

ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  gap: 8px;
}

.ph-icon-button {
  opacity: .5;

  &.active {
    opacity: 1;

    &.difficulty {
      &--professional {
        color: $green;
      }

      &--nightmare {
        color: $yellow;
      }

      &--insanity {
        color: $orange;
      }

      &--apocalypse {
        color: $red;
      }
    }
  }

}
