$grid-size: 16px;
$border-size: $grid-size / 4;
$padding-size: $grid-size / 2;
$bg-color: #0D1616;
$fg-color: #A0B8BC;

@font-face {
  font-family: phasmophobia;
  src: url(./assets/OctoberCrow.ttf) format("truetype");
}

hr {
  color: $fg-color;
}

h2,
h3 {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
